<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://localhost:6666/updateService.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="BLL.dll" lastver="1.0.0.0" size="4096" />
    <LocalFile path="DAL.exe" lastver="1.1.0.0" size="4096 " />
    <LocalFile path="Log.config" lastver="1.0.0.0" size="1227" />
    <LocalFile path="log4net.dll" lastver="1.0.0.0" size="270336" />
    <LocalFile path="UpgradeClient.exe" lastver="1.0.0.0" size="24576" />
  </UpdateFileList>
</Config>